# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

fbprophet=0.7.1=py38h11c0d25_0
pandas=1.4.2=pypi_0
streamlit=1.14.1=pypi_0
